* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 13px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul.menu{
    display: flex;
    position: relative;
    
}
ul.menu{
    background-color: #B8F1B0;
    
}
ul.menu > li{
    max-width: 200px;
    
}
ul.menu > li > a{
    
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}
ul.menu > li > a:hover{
    background-color: #14C38E;
    color: white;
}
.subcontent{
    display: none;
}
.sub:hover .subcontent{
    display: block;
    position: absolute;
}

#search {
    width: 400px;
    height: 40px;
    padding-left: 7px;
    background-color: #B8F1B0;
    border-radius: 4px;
    font-size: 15px;

}

.hearder {
    display: flex;
    justify-content: space-between;
    background-color: #00FFAB;
    /* align-content: center;
    align-items: center;
    background-color: rgb(189, 17, 69);
    height: 50px; */
}

.hearder_img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.hearder_img>a>img {
    width: 100px;
    heIGHT:100px;
}
.header-search {
    margin-top: 35px;
}
.hearder_user {
    margin-right: 50px;
    margin-top: 20px;
}
.hearder_user>h3 {
    text-align: center;
    margin-bottom: 5px;
}
.container {
    max-width: 1200px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    background-image: url(https://i.pinimg.com/564x/13/0e/9d/130e9dfcdf484a6ae31eb3c3eb4d8e59.jpg) ;
}

.left-side {
    flex: 71%;
}

.right-side {
    flex: 29%;
    background-color: #b5e6ae;
    padding: 5px 3px;
    border-radius: 3px;
}

.comic-info {
    width: 200px;
    height: 420px;
    text-align: center;
    background-color: #B8F1B0;
    border-radius: 10px;
    padding: 5px;
    float: left;
    margin: 5px;
}

.comic-info:hover {
    cursor: pointer;
    background-color: #14C38E;
}

.comic-info>img {
    border-radius: 3px;
    width: 180px;
    height: 300px;
}



.add-area {
    width: 100%;
}

.form-group {
    width: 100%;
    padding: 5px 0px;
}

.form-group>label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    border: none;
    outline: none;
    padding: 5px 0px;
    width: 100%;
    border-radius: 2px;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-sm {
    padding: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    background-color: #E3FCBF;
}

  .d-none{
    display: none;
}